<div class="flex flex-col justify-between">
  <section class="bg-black">
    <app-messages></app-messages>
  </section>
  <header class="text-black text-white ">
    <nav class="bg-white border-gray-200 sm:px-4 py-2.5 rounded dark:bg-gray-300">
      <div class="container flex flex-wrap items-center justify-between">
        <a routerLink="/" class="flex items-center">
          <img width="40" alt="Angular Logo"
                  src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="/>
            <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-black">Angular-NestJS-Docker-Prisma Demo App</span>
        </a>
  
        <div class="hidden w-full md:block md:w-auto" id="navbar-default">
          <ul class="flex flex-col p-4 mt-4 text-gray-800 md:flex-row md:space-x-8" >
            <li *ngIf="!loggedOut">
              <a routerLink="/dashboard"  class="block py-2 pl-3 pr-4 text-gray-800 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">
                Dashboard</a>
            </li>
            <li *ngIf="!loggedOut">
              <a routerLink="/products" class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-800 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">
                Produkte</a>
            </li>
            <li *ngIf="loggedOut">
              <a href="login" class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-800 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">
                Anmelden </a>
            </li>
            <li  *ngIf="loggedOut">
              <a href="register" class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-800 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">
                Registrieren</a>
            </li>
            <li  *ngIf="!loggedOut" (click)="logout()">
              <a routerLink="login" *ngIf="!showMenu"  (click)="logout()" class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-800 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">
                Abmelden</a>
            </li>
          </ul>
        </div>

      </div>
    </nav>
  </header>

  <main class="mb-auto bg-gray-50 dark:bg-gray-900 ">
      <router-outlet></router-outlet>
  </main>
  
</div>