<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <h2 *ngIf="product?.id">Produkt bearbeiten</h2>
    <h2 *ngIf="!product?.id">Neues Produkt anlegen</h2>

    <div class="mb-6 form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control block
          w-full
          px-3
          py-1.5
          text-base
          font-normal
          text-gray-700
          bg-white bg-clip-padding
          border border-solid border-gray-300
          rounded
          transition
          ease-in-out
          m-0
          focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" 
          id="name" formControlName="name" name="name" required> 
    </div>  

    <div class="mb-6 form-group">
      <label for="description">Beschreibung</label>
      <textarea class="
          form-control
          block
          w-full
          px-3
          py-1.5
          text-base
          font-normal
          text-gray-700
          bg-white bg-clip-padding
          border border-solid border-gray-300
          rounded
          transition
          ease-in-out
          m-0
          focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
          id="description" rows="8" 
          formControlName="description" name="description" required>
      </textarea>
    </div>

    <div class="mb-6 form-group">
      <label for="price">Preis</label>
      <input type="number" class="form-control block
          w-1/2
          px-3
          py-1.5
          text-base
          font-normal
          text-gray-700
          bg-white bg-clip-padding
          border border-solid border-gray-300
          rounded
          transition
          ease-in-out
          m-0
          focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" 
          id="price" formControlName="price" name="price" required>
    </div>
        
    <div class="mb-6 text-center form-group form-check">
      <input type="checkbox"
          class="w-4 h-4 mt-1 mr-2 align-top transition duration-200 bg-white bg-center bg-no-repeat bg-contain border border-gray-300 rounded-sm appearance-none cursor-pointer form-check-input checked:bg-blue-600 checked:border-blue-600 focus:outline-none"
          id="inStock" name="inStock"   
          formControlName="inStock" >
      <label class="inline-block text-gray-800 form-check-label" 
          for="inStock">Das Produkt ist lagernd</label>
    </div>

    <div class="flex justify-between">
      <button type="submit" class="
            w-1/2
            px-6
            py-2.5
            bg-blue-600
            text-black
            font-medium
            text-xs
            leading-tight
            uppercase
            rounded
            shadow-md
            hover:bg-blue-700 hover:shadow-lg
            focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0
            active:bg-blue-800 active:shadow-lg
            transition
            duration-150
            ease-in-out" [disabled]="!productForm.valid">
            Speichern
      </button>
      <button *ngIf="product?.id" type="button" (click)="cancel()" class="
          w-1/2
          px-6
          py-2.5
          bg-blue-600
          text-black
          font-medium
          text-xs
          leading-tight
          uppercase
          rounded
          shadow-md
          hover:bg-blue-700 hover:shadow-lg
          focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0
          active:bg-blue-800 active:shadow-lg
          transition
          duration-150
          ease-in-out">
          Cancel
      </button>
    </div>
  </form>
