<div class="product max-h-100" (dblclick)="onEdit(product!)" >
    <span class="flex flex-col items-center bg-white border rounded-lg shadow-md md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
        <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-l-lg" 
        src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" alt="">
        <div class="flex flex-col justify-between w-full p-4 leading-normal ">
            <div>
                <div class="flex justify-between">
                    <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                        {{ product!.name | slice: 0:30 }}{{product!.name!.length > 20 ? '...' : ''}}
                    </h2>
                    <button (click)="onDelete(product!)" [ngStyle]="{'color': 'red'}" type="button" 
                        class="font-medium rounded-lg text-sm p-1.5 text-center inline-flex items-center mr-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </button>
                </div>
            </div>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                
                {{ product!.description | slice: 0:100 }}{{product!.description!.length > 100 ? '...' : ''}}
            </p>
            <h1 class="text-white">{{product!.price}} €</h1>
            <div>
                <div class="flex justify-between">
                    <span></span>
                    <h4 *ngIf="product!.inStock" class="float-right p-4 text-green-400 ">lagernd</h4>
                    <h4 *ngIf="!product!.inStock" class="float-right p-4 text-red-400 ">ausverkauft</h4>
                </div>
            </div>
        </div>
    </span>
</div>